{% extends 'index.html' %}

{% block title %}
About
{% endblock title %}

 {% block body %}
 <div class="container">
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel ex dolor. Praesent a nibh sagittis, 
 scelerisque lectus sed, interdum diam. Nulla odio nulla, faucibus id eleifend nec, sagittis vulputate ante.
  Nulla facilisi. Praesent eget malesuada lectus. Suspendisse tortor eros, porta nec pharetra id, placerat a 
  leo. Mauris nec justo et orci tristique ullamcorper quis in turpis. Etiam vel mauris a eros consectetur mollis
   sit amet sit amet eros. Aliquam erat volutpat. Proin vel scelerisque erat. Aliquam porttitor mattis est, at 
   iaculis mauris pharetra vitae. Morbi sed enim ac nisl suscipit condimentum vel et nibh. Ut et dui sapien. Nunc
    porttitor vehicula elementum. Nunc sed viverra elit.

 Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut imperdiet mollis sapien, at dapibus ex 
 elementum viverra. Nunc eget diam est. Vivamus sem leo, dictum et ligula et, lacinia porttitor metus. In 
 tristique laoreet porta. Nunc consectetur, augue ut aliquet bibendum, lacus purus vehicula massa, ac egestas 
 dolor ipsum vel mi. Fusce nec magna ac magna ornare fermentum non at felis. Donec tempor aliquet odio a suscipit.
  Aliquam dignissim, erat non efficitur bibendum, leo eros tempor dolor, vel dapibus lectus sapien malesuada lacus.
   Aenean eu ultricies felis. Cras vel accumsan mauris, vel finibus elit. Sed et dui varius, elementum diam et, 
   pharetra diam. Vestibulum ante ipsum primis in faucibus
  orci luctus et ultrices posuere cubilia curae; Sed nec nibh tellus. In hac habitasse platea dictumst.
</div>
{% endblock body %}


